<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonde</title>
    <link rel="stylesheet" href="/static/style4.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/sonde1">
            <h1>Ajouter une mesure</h1>
            <div class="input-box">
                <input type="text" id="valeur" name="valeur" placeholder="Valeur">
            </div>
            <div class="input-box">
                <select id="type_mesure" name="type_mesure">
                    <option value="temperature">Température</option>
                    <option value="humidite">Humidité</option>
                    <option value="pression">Pression</option>
                </select>
            </div>            
            <br>
            <button type="submit" class="btn">Ajouter</button>
        </form>

        <h1>Voir et Supprimer les mesures</h1>
        <a href="/afficher_mesures" class="btn">Afficher et Supprimer</a>
        <br><br>
        <a href="/dashboard" class="btn">Retour au menu</a>
    </div>
</body>
</html>
